Repository yuhrao/big-bang, changes with the labels that .github/labeler.yml gives for each.
All labels: components:logger, components:config, components:http-kit, components:testing, components:serdes, components:webserver, components:database, components:feature-flag, components:data-cloak, documentation

.github/labeler.yml:

'components:logger': ["components/logger/**"]
'components:config': ["components/config/**"]
'components:http-kit': ["components/http-kit/**"]
'components:testing': ["components/testing/**"]
'components:serdes': ["components/serdes/**"]
'components:webserver': ["components/webserver/**"]
'components:database': ["components/database/**"]
'components:feature-flag': ["components/feature-flag/**"]
'components:data-cloak': ["components/data-cloak/**"]

'documentation': [ "**/README.md", "**/readme.md" ]

ci: build and deploy docs
  .github/workflows/docs.yaml
Labels: none

ci: fix docs deploy
  .github/workflows/docs.yaml
Labels: none

ci: try to fix doc generation again
  .github/workflows/docs.yaml
Labels: none

ci: debug doc ci
  .github/workflows/docs.yaml
Labels: none

fix: docussaurus config
  docs/docusaurus.config.js
Labels: none

ci: please, work
  docs/bun.lockb
  docs/package.json
Labels: none

ci: fix doc path in gh pages
  docs/docusaurus.config.js
Labels: none

chore: update gitignore
  .gitignore
Labels: none

doc(data-cloak): fix example for `dc.map/obscure`
  components/data-cloak/src/yuhrao/data_cloak/core/map.clj
Labels: components:data-cloak

doc(data-cloak): update docs
  components/data-cloak/src/yuhrao/data_cloak/core/string.clj
Labels: components:data-cloak

doc: organize main README
  .github/workflows/docs.yaml
  README.md
  docs/static/img/big-bang-banner.png
Labels: documentation

ci(docs): adding missing doc generation for clojure
  .github/workflows/docs.yaml
Labels: none

ci(doc): fix clojure command
  .github/workflows/docs.yaml
Labels: none

ci(doc): fix broken image
  .github/workflows/docs.yaml
  README.md
Labels: documentation

chore: update gitignore
  .gitignore
Labels: none

doc: fix readme
  README.md
Labels: documentation

ci: hope docs are fine for after this change...
  .github/workflows/docs.yaml
  README.md
Labels: documentation

chore: fix build clean command
  build.clj
  deps.edn
Labels: none

doc: Add todo for deploy action
  README.md
Labels: documentation

fix (ci): source code wasn't being included during build
  CHANGELOG.md
  build.clj
Labels: none

fix (ci): fix building order to respect dependency tree
  build.clj
  components/database/deps.edn
  components/http-client/deps.edn
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/webserver/deps.edn
  config-2.0.1.pom
Labels: components:serdes, components:webserver, components:database

feat: plain text serdes
  components/http-client/src/yuhrao/http_client/interceptors.clj
  components/http-client/test/yuhrao/http_client/core_test.clj
  components/http-client/test/yuhrao/http_client/interceptors_test.clj
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/html.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/json.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/plain_text.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/yaml.clj
  components/serdes/src/yuhrao/serdes/core/content_negotiation.clj
  components/serdes/test/yuhrao/serdes/core/content_negotiation_test.clj
  components/webserver/test/yuhrao/webserver/core_test.clj
Labels: components:serdes, components:webserver

refact (serdes): export symbol with available mime types
  components/http-client/src/yuhrao/http_client/interceptors.clj
  components/serdes/src/yuhrao/serdes/core/content_negotiation.clj
Labels: components:serdes

test (database): commenting out tests for now because it needs more attention
  components/database/test/yuhrao/database/core_test.clj
Labels: components:database

ci: refactor and fix build
  build.clj
Labels: none

doc: update CHANGELOG
  CHANGELOG.md
Labels: none

chore: bump up libs version
  components/database/deps.edn
  components/http-client/deps.edn
  components/serdes/deps.edn
  components/testing/deps.edn
  components/webserver/deps.edn
  projects/integration-tests/deps.edn
Labels: components:testing, components:serdes, components:webserver, components:database

Fulfill serdes lack for a stable default content type (#30)
  CHANGELOG.md
  build.clj
  components/database/deps.edn
  components/database/test/yuhrao/database/core_test.clj
  components/http-client/deps.edn
  components/http-client/src/yuhrao/http_client/interceptors.clj
  components/http-client/test/yuhrao/http_client/core_test.clj
  components/http-client/test/yuhrao/http_client/interceptors_test.clj
  components/serdes/deps.edn
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/html.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/json.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/plain_text.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/yaml.clj
  components/serdes/src/yuhrao/serdes/core/content_negotiation.clj
  components/serdes/test/yuhrao/serdes/core/content_negotiation_test.clj
  components/testing/deps.edn
  components/webserver/deps.edn
  components/webserver/test/yuhrao/webserver/core_test.clj
  projects/integration-tests/deps.edn
Labels: components:testing, components:serdes, components:webserver, components:database

ci: auto update components deps.edn
  build.clj
Labels: none

ci: bump up components version
  components/config/deps.edn
  components/data-cloak/deps.edn
  components/database/deps.edn
  components/feature-flag/deps.edn
  components/http-client/deps.edn
  components/logger/deps.edn
  components/serdes/deps.edn
  components/webserver/deps.edn
Labels: components:logger, components:config, components:serdes, components:webserver, components:database, components:feature-flag, components:data-cloak

fix(webserver): wrong middeleware order for content negotiation
  bb.edn
  components/http-client/src/yuhrao/http_client/interceptors.clj
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/webserver/src/yuhrao/webserver/middlewares/obscurer.clj
  components/webserver/src/yuhrao/webserver/server.clj
  components/webserver/test/yuhrao/webserver/core_test.clj
Labels: components:serdes, components:webserver

ci: bump up lib versions
  components/database/deps.edn
  components/http-client/deps.edn
  components/webserver/deps.edn
Labels: components:webserver, components:database

fix: force openapi routes to provide JSON content type
  components/logger/src/yuhrao/logger/core.clj
  components/logger/src/yuhrao/logger/log.clj
  components/webserver/src/yuhrao/webserver/middlewares/log.clj
  components/webserver/src/yuhrao/webserver/server.clj
Labels: components:logger, components:webserver

fix(webserver): handle coercion exceptions
  components/webserver/src/yuhrao/webserver/server.clj
Labels: components:webserver

ci: bump up lib versions
  components/database/deps.edn
  components/http-client/deps.edn
  components/webserver/deps.edn
Labels: components:webserver, components:database

refact(db): let parent handle connections
  components/database/src/yuhrao/database/core.clj
  components/database/src/yuhrao/database/sql_execution.clj
Labels: components:database

webserver: fix middleware order
  components/webserver/src/yuhrao/webserver/middlewares.clj
  components/webserver/src/yuhrao/webserver/middlewares/exception.clj
  components/webserver/src/yuhrao/webserver/middlewares/obscurer.clj
  components/webserver/src/yuhrao/webserver/server.clj
Labels: components:webserver

ci: bump up version
  components/database/deps.edn
  components/http-client/deps.edn
  components/webserver/deps.edn
Labels: components:webserver, components:database

chore: fix dependabot alert (org.clojure:clojure)
  components/config/deps.edn
  components/database/deps.edn
  deps.edn
  pom.xml
  projects/integration-tests/deps.edn
Labels: components:config, components:database

chore: fix dependabot alerts (#32)
  components/config/deps.edn
  components/database/deps.edn
  deps.edn
  pom.xml
  projects/integration-tests/deps.edn
Labels: components:config, components:database
