Repository yuhrao/big-bang, changes with the labels that .github/labeler.yml gives for each.
All labels: workspace:component, workspace:base, components:commons, documentation

.github/labeler.yml:

'workspace:component': [ "components/**" ]
'workspace:base': [ "bases/**" ]

'components:commons':
  - "components/logger/**"
  - "components/config/**"
  - "components/http-kit/**"
  - "components/testing/**"
  - "components/serdes/**"
  - "components/webserver/**"
  - "components/database/**"
  - "components/feature-flag/**"
  - "components/data-cloak/**"

'documentation': [ "**/README.md", "**/readme.md" ]

doc: update CHANGELOG
  CHANGELOG.md
Labels: none

doc: add more third party resource candidate
  README.md
Labels: documentation

feat (http-client): default content type to application/json
  components/http-client/src/br/dev/yuhri/http_client/request.clj
Labels: workspace:component

chore: update outdated resources
  .github/workflows/tests.yaml
  components/database/deps.edn
  components/feature-flag/deps.edn
  components/testing/deps.edn
  components/webserver/deps.edn
  deps.edn
Labels: workspace:component, components:commons

chore: update outdated resources (#28)
  .github/workflows/tests.yaml
  components/database/deps.edn
  components/feature-flag/deps.edn
  components/testing/deps.edn
  components/webserver/deps.edn
  deps.edn
Labels: workspace:component, components:commons

[FEAT] HTTP Client: set default content type for http responses (#27)
  .github/workflows/tests.yaml
  components/database/deps.edn
  components/feature-flag/deps.edn
  components/http-client/src/br/dev/yuhri/http_client/request.clj
  components/testing/deps.edn
  components/webserver/deps.edn
  deps.edn
Labels: workspace:component, components:commons

update things and deprecate migrations stuff
  components/database/README.md
  components/database/deps.edn
  components/database/src/br/dev/yuhri/database/core.clj
  components/database/src/br/dev/yuhri/database/migration.clj
  components/feature-flag/deps.edn
  components/serdes/deps.edn
  components/webserver/deps.edn
  deps.edn
  projects/integration-tests/deps.edn
Labels: workspace:component, components:commons, documentation

small updates
  README.md
  deps.edn
  logo.png
Labels: documentation

Remove MIDI hub from main deps.edn
  deps.edn
Labels: none

refact(c/http-client): migrate to babashka http client
  .gitignore
  components/http-client/deps.edn
  components/http-client/src/br/dev/yuhri/http_client/client.clj
  components/http-client/src/br/dev/yuhri/http_client/core.clj
  components/http-client/src/br/dev/yuhri/http_client/interceptors.clj
  components/http-client/src/br/dev/yuhri/http_client/request.clj
  components/http-client/test/br/dev/yuhri/http_client/core_test.clj
  components/http-client/test/br/dev/yuhri/http_client/interceptors_test.clj
  deps.edn
  development/src/user.clj
Labels: workspace:component

Component - HTTP Client: migrate to babashka http client (#29)
  .gitignore
  components/http-client/deps.edn
  components/http-client/src/br/dev/yuhri/http_client/client.clj
  components/http-client/src/br/dev/yuhri/http_client/core.clj
  components/http-client/src/br/dev/yuhri/http_client/interceptors.clj
  components/http-client/src/br/dev/yuhri/http_client/request.clj
  components/http-client/test/br/dev/yuhri/http_client/core_test.clj
  components/http-client/test/br/dev/yuhri/http_client/interceptors_test.clj
  deps.edn
  development/src/user.clj
Labels: workspace:component

feat (serdes): add yaml serde
  components/serdes/deps.edn
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation.clj
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation/yaml.clj
  components/serdes/src/br/dev/yuhri/serdes/core/yaml.clj
  components/serdes/src/br/dev/yuhri/serdes/formats/yaml.clj
Labels: workspace:component, components:commons

dev: add portal
  deps.edn
Labels: none

chore: update dependencies
  components/webserver/deps.edn
  projects/integration-tests/deps.edn
Labels: workspace:component, components:commons

feat (c/database): add support for JSON columns and clojure structures
  components/database/deps.edn
  components/database/src/br/dev/yuhri/database/column_readers.clj
  components/database/src/br/dev/yuhri/database/core.clj
  components/database/src/br/dev/yuhri/database/sql_execution.clj
  components/database/test/br/dev/yuhri/database/core_test.clj
Labels: workspace:component, components:commons

feat (c/database): improve merge between request and client's default
  components/http-client/deps.edn
  components/http-client/src/br/dev/yuhri/http_client/interceptors.clj
  components/http-client/src/br/dev/yuhri/http_client/request.clj
Labels: workspace:component

chore: reformat
  components/config/test/br/dev/yuhri/config/core_test.clj
Labels: workspace:component, components:commons

feat (c/serdes): make json serde accept options
  components/serdes/deps.edn
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation.clj
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation/json.clj
  components/serdes/src/br/dev/yuhri/serdes/core/json.clj
  components/serdes/src/br/dev/yuhri/serdes/formats/json.clj
  components/serdes/test/br/dev/yuhri/serdes/core/json_test.clj
Labels: workspace:component, components:commons

feat (scripts): move babashka scripts to development project
  bb.edn
  deps.edn
  development/src/dev/database.clj
  development/src/dev/unleash.clj
  development/src/user.clj
Labels: none

chore (c/projects): upgrade projects deps versions
  projects/integration-tests/deps.edn
Labels: none

chore (c/webserver): upgrade ring version
  components/webserver/deps.edn
  components/webserver/src/br/dev/yuhri/webserver/core.clj
Labels: workspace:component, components:commons

feat (c/midi-hub): openmidi fetch data
  components/midi-hub/deps.edn
  components/midi-hub/resources/db/migrations/0001_auto_create_table_brands_etc.edn
  components/midi-hub/resources/db/models.edn
  components/midi-hub/resources/midi-hub/.keep
  components/midi-hub/src/br/dev/yuhri/midi_hub/core.clj
  components/midi-hub/src/br/dev/yuhri/midi_hub/lib/openmidi.clj
  components/midi-hub/test/br/dev/yuhri/midi_hub/core_test.clj
  development/resources/init.sql
Labels: workspace:component

feat (c/midi-hub): midi-hub database initial operations
  components/midi-hub/resources/db/migrations/0001_auto_create_table_brands_etc.edn
  components/midi-hub/resources/db/models.edn
  components/midi-hub/src/br/dev/yuhri/midi_hub/lib/db.clj
Labels: workspace:component

feat (c/midi-hub): import data from openmidi
  components/midi-hub/src/br/dev/yuhri/midi_hub/lib/openmidi.clj
Labels: workspace:component

dev: add one-time run script for database migrations
  development/src/dev/database.clj
Labels: none

feat (c/midi-hub): create interface for main operations
  components/midi-hub/src/br/dev/yuhri/midi_hub/core.clj
Labels: workspace:component

doc: add TODO
  README.md
Labels: documentation

fix: add midi-hub src path to root deps.edn
  deps.edn
Labels: none

chore: add emacs config
  .dir-locals.el
  .gitignore
Labels: none

wip: something that i don't remember anymore
  components/midi-hub/deps.edn
  components/midi-hub/src/br/dev/yuhri/midi_hub/lib/db.clj
  components/midi-hub/src/br/dev/yuhri/midi_hub/lib/openmidi.clj
  deps.edn
  development/src/user.clj
Labels: workspace:component

feat (serdes): support tick values
  components/serdes/deps.edn
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation/json.clj
  components/webserver/src/br/dev/yuhri/webserver/server.clj
Labels: workspace:component, components:commons

wip (base/webserver): create big-bang server
  README.md
  bases/rest/deps.edn
  bases/rest/resources/rest/.keep
  bases/rest/src/br/dev/yuhri/rest/core.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/handlers.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/routes.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/schema.clj
  bases/rest/src/br/dev/yuhri/rest/routes.clj
  bases/rest/src/br/dev/yuhri/rest/schema.clj
  bases/rest/test/br/dev/yuhri/rest/midi_hub_test.clj
  bases/rest/test/br/dev/yuhri/rest/schema_test.clj
Labels: workspace:base, documentation

chore: add editorconfig
  .editorconfig
Labels: none

ci: build-deploy libraries
  .gitignore
  build.clj
  components/data-cloak/build.clj
  components/data-cloak/data-cloak-0.1.0.pom.asc
  components/data-cloak/deps.edn
  components/data-cloak/pom.xml
  deps.edn
Labels: workspace:component, components:commons

feat (content-negotiation): HTML content type
  README.md
  components/serdes/deps.edn
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/html.clj
  components/serdes/src/yuhrao/serdes/core/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/core/html.clj
  components/serdes/src/yuhrao/serdes/formats/html.clj
Labels: workspace:component, components:commons, documentation

refact: remove non lib components
  bases/rest/deps.edn
  bases/rest/resources/rest/.keep
  bases/rest/src/br/dev/yuhri/rest/core.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/handlers.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/routes.clj
  bases/rest/src/br/dev/yuhri/rest/midi_hub/schema.clj
  bases/rest/src/br/dev/yuhri/rest/routes.clj
  bases/rest/src/br/dev/yuhri/rest/schema.clj
  bases/rest/test/br/dev/yuhri/rest/midi_hub_test.clj
  bases/rest/test/br/dev/yuhri/rest/schema_test.clj
  components/http-client/deps.edn
  components/midi-hub/deps.edn
  components/midi-hub/resources/db/migrations/0001_auto_create_table_brands_etc.edn
  components/midi-hub/resources/db/models.edn
  components/midi-hub/resources/midi-hub/.keep
  components/midi-hub/src/yuhrao/midi_hub/core.clj
  components/midi-hub/src/yuhrao/midi_hub/lib/db.clj
  components/midi-hub/src/yuhrao/midi_hub/lib/openmidi.clj
  components/midi-hub/test/yuhrao/midi_hub/core_test.clj
  deps.edn
Labels: workspace:component, workspace:base

fix: wrong namespace in test config fn
  workspace.edn
Labels: none

fix(http-client): namespace does not match path
  components/http-client/src/yuhrao/http_client/client.clj
  components/http-client/src/yuhrao/http_client/core.clj
  components/http-client/src/yuhrao/http_client/interceptors.clj
  components/http-client/src/yuhrao/http_client/request.clj
  components/http-client/test/yuhrao/http_client/core_test.clj
  components/http-client/test/yuhrao/http_client/interceptors_test.clj
Labels: workspace:component

fix (webserver): respect Accept request header
  components/serdes/src/yuhrao/serdes/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/html.clj
  components/serdes/src/yuhrao/serdes/content_negotiation/yaml.clj
  components/serdes/src/yuhrao/serdes/core/content_negotiation.clj
  components/serdes/src/yuhrao/serdes/core/html.clj
  components/webserver/src/yuhrao/webserver/core.clj
  components/webserver/test/yuhrao/webserver/core_test.clj
Labels: workspace:component, components:commons

ci: get lib version from git tags
  build.clj
Labels: none
