Repository yuhrao/big-bang, changes with the labels that .github/labeler.yml gives for each.
All labels: workspace:component, workspace:base, components:webserver, components:logger, components:database, components:config, components:feature-flag, documentation

chore: update outdated dependencies
  .github/workflows/tests.yaml
  bb.edn
Labels: none

chore: update outdated dependencies
  components/feature-flag/deps.edn
  components/logger/deps.edn
  deps.edn
Labels: workspace:component, components:logger, components:feature-flag

chore: delete unnecessary migration
  components/database/resources/migrations/main/20230714124616_create_unleash_database.edn
Labels: workspace:component, components:database

feat: add unleash to local environment
  bb.edn
  components/feature-flag/deps.edn
  components/feature-flag/src/br/dev/yuhri/feature_flag/interface.clj
  components/feature-flag/src/br/dev/yuhri/feature_flag/unleash/client.clj
  components/feature-flag/src/br/dev/yuhri/feature_flag/unleash/flags.clj
  components/feature-flag/src/br/dev/yuhri/feature_flag/unleash/utils.clj
  components/feature-flag/src/br/dev/yuhri/feature_flag/unleash/variant.clj
  components/feature-flag/test/br/dev/yuhri/feature_flag/interface_test.clj
  components/feature-flag/test/br/dev/yuhri/feature_flag/unleash/client_test.clj
  deps.edn
  development/resources/init.sql
  docker-compose.yaml
Labels: workspace:component, components:feature-flag

refact: change interface namespaces name to core
  components/config/README.md
  components/config/src/br/dev/yuhri/config/core.clj
  components/config/test/br/dev/yuhri/config/core_test.clj
  components/database/src/br/dev/yuhri/database/core.clj
  components/database/test/br/dev/yuhri/database/core_test.clj
  components/feature-flag/src/br/dev/yuhri/feature_flag/core.clj
  components/feature-flag/test/br/dev/yuhri/feature_flag/core_test.clj
  components/logger/README.md
  components/logger/src/br/dev/yuhri/logger/core.clj
  components/logger/test/br/dev/yuhri/logger/core_test.clj
  components/webserver/src/br/dev/yuhri/webserver/core.clj
  components/webserver/src/br/dev/yuhri/webserver/middlewares/log.clj
  components/webserver/test/br/dev/yuhri/webserver/core_test.clj
  development/src/user.clj
  workspace.edn
Labels: workspace:component, components:webserver, components:logger, components:database, components:config, components:feature-flag, documentation

doc: update CHANGELOG
  CHANGELOG.md
Labels: none

.github/labeler.yml:

'workspace:component': [ "components/**" ]
'workspace:base': [ "bases/**" ]

'components:webserver': [ "components/webserver/**" ]
'components:logger': [ "components/logger/**" ]
'components:database': [ "components/database/**" ]
'components:config': [ "components/config/**" ]
'components:feature-flag': [ "components/feature-flag/**" ]

'documentation': [ "**/README.md", "**/readme.md" ]
