Repository yuhrao/big-bang, changes with the labels that .github/labeler.yml gives for each.
All labels: workspace:component, workspace:base, components:webserver, components:logger, components:database, components:config, components:feature-flag, components:commons, documentation

.github/labeler.yml:

'workspace:component': [ "components/**" ]
'workspace:base': [ "bases/**" ]

'components:webserver': [ "components/webserver/**" ]
'components:logger': [ "components/logger/**" ]
'components:database': [ "components/database/**" ]
'components:config': [ "components/config/**" ]
'components:feature-flag': [ "components/feature-flag/**" ]
'components:commons': [ "components/commons/**" ]

'documentation': [ "**/README.md", "**/readme.md" ]

refact (webserver): replace internal serdes by serdes component
  components/serdes/deps.edn
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation.clj
  components/serdes/src/br/dev/yuhri/serdes/content_negotiation/json.clj
  components/serdes/src/br/dev/yuhri/serdes/core.clj
  components/serdes/src/br/dev/yuhri/serdes/core/content_negotiation.clj
  components/serdes/src/br/dev/yuhri/serdes/core/edn.clj
  components/serdes/src/br/dev/yuhri/serdes/core/json.clj
  components/serdes/src/br/dev/yuhri/serdes/formats/edn.clj
  components/serdes/src/br/dev/yuhri/serdes/formats/json.clj
  components/serdes/test/br/dev/yuhri/serdes/core/content_negotiation_test.clj
  components/serdes/test/br/dev/yuhri/serdes/core/edn_test.clj
  components/serdes/test/br/dev/yuhri/serdes/core/json_test.clj
  components/serdes/test/br/dev/yuhri/serdes/core_test.clj
  components/webserver/deps.edn
  components/webserver/src/br/dev/yuhri/webserver/server.clj
  components/webserver/test/br/dev/yuhri/webserver/core_test.clj
Labels: workspace:component, components:webserver

feat: http-client component
  components/http-client/deps.edn
  components/http-client/resources/http-client/.keep
  components/http-client/src/br/dev/yuhri/http_client/client.clj
  components/http-client/src/br/dev/yuhri/http_client/core.clj
  components/http-client/src/br/dev/yuhri/http_client/request.clj
  components/http-client/test/br/dev/yuhri/http_client/core_test.clj
  deps.edn
Labels: workspace:component

test (logger): improve test stability
  components/logger/src/br/dev/yuhri/logger/log.clj
  components/logger/test/br/dev/yuhri/logger/core_test.clj
  components/logger/test/br/dev/yuhri/logger/test_tooling.clj
  components/webserver/src/br/dev/yuhri/webserver/server.clj
  components/webserver/test/br/dev/yuhri/webserver/core_test.clj
Labels: workspace:component, components:webserver, components:logger

test (database): fix db port for run locally
  components/database/test/br/dev/yuhri/database/core_test.clj
Labels: workspace:component, components:database

test: dictate project configuration through code
  components/config/deps.edn
  components/config/resources/integration-tests.edn
  components/config/resources/unit-tests.edn
  components/database/deps.edn
  components/database/resources/integration-tests.edn
  components/database/resources/unit-tests.edn
  components/feature-flag/deps.edn
  components/http-client/deps.edn
  components/logger/deps.edn
  components/logger/resources/integration-tests.edn
  components/logger/resources/unit-tests.edn
  components/serdes/deps.edn
  components/testing/deps.edn
  components/testing/resources/testing/.keep
  components/testing/test/br/dev/yuhri/testing/core.clj
  components/webserver/deps.edn
  components/webserver/resources/integration-tests.edn
  components/webserver/resources/unit-tests.edn
  deps.edn
  projects/integration-tests/deps.edn
  test-resources/integrations-test.edn
  test-resources/unit-tests.edn
  workspace.edn
Labels: workspace:component, components:webserver, components:logger, components:database, components:config, components:feature-flag

chore: refact deps.edn to not include components at root deps
  deps.edn
Labels: none
